body{
  padding: 0px!important;
  margin:0px!important;
  font-family: 'Roboto', sans-serif!important;
}

// colors scss
$white:#fff;
$grey:#f8f8f8;
$darkgrey:#1c1c1c;
$mycolor:#d2243f;
$btn_color:#333;
$footer_font:#a2a7ad;

// media query
$media-phone: "only screen and (max-width : 480px)";

.row{
  padding: 0px!important;
  margin:0px!important;
}
.container-fluid{
  padding: 0px!important;
  margin:0px!important;
}

h1 h2 h3 h4 h5 {
	font-family: 'Roboto', sans-serif!important;
}
p{
  font-family: 'Roboto', sans-serif!important;
}
.btn-kitchen{
    padding: 8px 20px;
    background-color: $btn_color;
    outline-color: $btn_color;
    border-color: $btn_color;
    border-radius: 0px;
    font-size: 16px;
}
.btn-kitchen:hover{
  background-color: $white;
border-color: $btn_color;
color: $btn_color;
}
.btn-kitchen:active{
  background-color: $white!important;
border-color: $btn_color!important;
color: $btn_color!important;
}
.btn-kitchen:focus{
  box-shadow: none!important;
}


a{
  text-decoration: none!important;
  color: inherit;
}
a:hover{
  color: inherit;
}
// nav bar start
.sticky {
position: fixed !important;
top: 0px !important;
left: 0% !important;
z-index: 999 !important;
margin: auto !important;
// width:100% !important;
background: $white;
/* transform: scale(1); */
  @media #{$media-phone} {
    padding: 0px 10px !important;
  }
}
.fixed-top{
  border-top: 4px solid $mycolor;
}
#carousel-id{
  margin-top: 0px!important;
    @media #{$media-phone} {
        margin-top: 0px!important;
    }
}
.navbar{
  padding: 0px!important;
  overflow: hidden;

 }
.navbar .nav-item{
  padding-left: 25px;
  padding-right: 25px;
  border-right: 1px solid $mycolor;
}
.navbar{
  .active{
    color: rgba(210, 35, 63, 0.9)!important;
    border-bottom: 5px solid $mycolor;
      @media #{$media-phone} {
        border-bottom: none;
      }
  }
  .nav-link:hover {
    color: rgba(210, 35, 63, 0.9)!important;
}
  .nav-link{
  padding-top: 18px;
    width: 100px;
    font-size: 19px;
    font-weight: 700;
    @media #{$media-phone} {
      width: 100%;
    }
}
}
.navbar-brand{
  width: 100%;
  height: auto;

  // box-shadow: 0 -2.804px 16.74px 0.26px #777;
  padding: 5px;
  z-index: 1;

  @media #{$media-phone} {
    width: auto;
    height: auto;
    padding: 0px;
    box-shadow:none;
    margin-bottom: 0px;
    z-index: 9;
  }
  img{
    float: left;
  }
}
  .carousel-item img{
  @media #{$media-phone} {
    height: 250px;
  }
}

// nav bar ends

// types container strart
.types{
  margin: 50px 0px;
  padding: 50px 0px;
  overflow: hidden;
  @media #{$media-phone} {
    margin: 15px 0px;
    padding: 15px 0px;
    overflow: hidden;
  }
  .row{
    padding-bottom: 20px!important;
    margin-bottom: 20px!important;
    img{
      width: 100%;
      height: auto;
      @media #{$media-phone} {
        padding-top: 10px;
  }
    }
    h2{
      padding-top: 25px;
      font-weight: 500;
      @media #{$media-phone} {
          padding-top: 10px;
  }
    }
    h4{
      padding-top: 10px;
      font-weight: 400;
    }
    p{
      padding-top: 10px;
      font-size: 14px;
      text-align: justify;
    }

  }
}
// types container ends

// happy clients start
#happy-clients{
  background: $grey;
  margin: 50px 0px!important;
  padding: 50px 0px!important;
  overflow: hidden;
  @media #{$media-phone} {
    margin: 15px 0px!important;
    padding: 15px 0px!important;
  }
  .box{
    padding: 20px;
  }
  .img-box .img{
    margin-bottom: 10px;
    margin-left: 30px;
    @media #{$media-phone} {
      text-align: center;
  }
  }
  .img-box svg{
     padding-top: 20px;
     width: 150px;
     height: 150px;
     border-radius: 50%;
     border: 2px solid #5b5b5b;
  }

.img-box svg:hover{
  fill:$mycolor;
   border: 2px solid $mycolor;
}

  h3, p{
    padding-top: 10px;
    font-size: 18px;
    text-align: center;
    line-height: 27px;
  }

}
// happy clients ends

// home gallery start
.home-gallery{
  margin: 50px 0px;
  padding: 40px 0px;
  @media #{$media-phone} {
    margin: 15px 0px;
    padding: 10px 0px;
  }
    h2{
      font-size: 32px;
      font-weight: 500;
      text-align: center!important;
      padding-bottom: 15px;
    }
  .item img{
    width: 100%;
    height: auto;
  }
  .under-title-2 {
    display: block;
    height: 12px;
    width: 12px;
    background: $mycolor;
    position: relative;
    bottom: 12px;
    left: 50%;
    margin-left: -9px;
}
  .under-title-2:before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100px;
    top: 5px;
    left: -111px;
    background: rgba(0,0,0,.34);
}
.under-title-2:after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100px;
    top: 5px;
    left: 23px;
    background: rgba(0,0,0,.34);
}
}
// home gallery ends

// speciality start

#speciality{
  margin: 50px 0px!important;
  padding: 50px 0px!important;
  background-color: $grey;
  @media #{$media-phone} {
    margin: 15px 0px!important;
    padding: 15px 0px!important;
  }
  h1{
    font-size: 36px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  h4{
    font-size: 18px;
    text-align: center;
    @media #{$media-phone} {
      padding-bottom: 15px;
      margin-top: -15px;
  }
  }
  img{
    text-align: center;
    padding: 50px;
    width: 100%;
    height: auto;
    @media #{$media-phone} {
      padding: 0px 10px;
      width: 100%;
      height: 220px;
  }
  }
}

// speciality ends

// process start
.process{
  margin: 0px 0px;
  padding: 30px 0px;
  overflow: hidden;
  @media #{$media-phone} {
    padding: 15px 0px;
  }
  #pro_p{
    padding: 25px 40px;
    margin-left: 10px;
    margin-right: -8%;
    z-index: 1;
    background-color: $white;
    // border: 1px solid $darkgrey;
    box-shadow: 0px 0px 3px 3px #676767;
    h2{
      font-size: 32px;
      color: $mycolor;
    }
  }
  #pro_i {
    padding: 0px!important;
    img{
      height: 100%;
  }
}
  #pro_s{
    padding: 0px!important;
    height: auto;
    img{
      background-color: $mycolor;
      padding-top: 25px;
      margin-left: 4px;
      margin-bottom: 4px;
      height: 150px;
    }
    img:hover{
      background-color: #57c2b1;
    }
  }
  p{
    text-align: justify;
  }
  h1{
    font-size: 36px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
    @media #{$media-phone} {
      padding-top: 10px;
      padding-bottom: 15px;
  }
  }
  img{
    width: 100%;
    height: auto;
  }
}

// Process ends

// testomonial start
.testomonial{
  margin: 50px 0px;
  padding: 50px 0px;
  @media #{$media-phone} {
    margin: 15px 0px;
    padding: 15px 0px;
  }
  h1{
    font-size: 36px;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 30px;
    @media #{$media-phone} {
      padding: 15px 0px;
      font-size: 32px;
    }
  }
  .card{
    width: 40rem;
    @media #{$media-phone} {
     width: 20rem;
  }
  }
  img{
    text-align: center;
    width: 200px!important;
    height: 200px!important;
    border-radius: 50%;
    @media #{$media-phone} {
      width: 150px!important;
      height: 150px!important;

  }
  }

  .carousel-indicators{
      bottom: -15px;

       li {
       border-radius: 10px;
       border: 2px solid #000;
       margin: 1px 3px;
       height: 10px;
       max-width: 10px;
       background-color: #fff!important;
       background-color: transparent;
       word-spacing: 27px;
   }
  .active {
       background-color: $mycolor!important;
       border-radius: 50%;
       border: 2px solid $mycolor;
       max-width: 12px;
       margin: 0 3px;
       height: 12px;
   }
}
  .carousel-item{
      left: 22%;
      @media #{$media-phone} {
      left: 0%;
  }
  }
.carousel-caption{
  padding-top: 20px;
}
  h5, p{
  color: #000;
  }
  .card{
    text-align: center;
    border: inherit;
    .card-img-top{
      align-self: center;
    }
  }
}

// testomonial ends

// parallex start
.parallex{
  text-align: center;
  background: url("../../assets/images/banner/01.jpg") no-repeat 0 100%;
 color: #fff;
width: 100%;
/* Set a specific height */
height: 100px;
opacity: 0.7;
/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
h5{
  padding-top: 2%;
  padding-left: 15px;
  padding-right: 15px;
}
}

// parallex ends

// footer start
footer{
  padding-top: 50px;
  background-color: $darkgrey;
   p{
    text-align: center;
    color: $footer_font;
  }
  h6{
      color: #dadbdc;
    text-align: center;
    padding-bottom: 10px;
    @media #{$media-phone} {
      color: #dadbdc;
  }
  }
  #footer{
    padding-bottom: 40px!important;
  }
  #footer-copyright{

    background-color: #111!important;
    padding-top: 15px!important;
    padding-bottom: 15px!important;
    .last-foot{
      text-align: center;
      font-size: 16px;
      color: $footer_font;
    }
    p{
      margin-bottom: 0px!important;
    }
    a{
      width: auto!important;
    }
  }
  .float-sm{
  p,
span,
.twitter {
  font: normal normal 10px Arial;
  text-align: center;
  color: #998578;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.twitter {
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 14px;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

.twitter:hover {
  color: #FF7D6D;
  text-decoration: none;
}

span {
  font-style: italic;
  display: block;
}

img {
  max-width: 100%;
}
/* Floating Social Media Bar Style Starts Here */

.fl-fl {
  background: #000000;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 4px;
  width: 190px;
  position: fixed;
  right: -160px;
  z-index: 1000;
  font: normal normal 10px Arial;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

.fa {
  font-size: 20px;
  color: #fff;
  padding: 10px 0;
  width: 40px;
  margin-left: 8px;
}

.fl-fl:hover {
  right: 0;
}

.fl-fl a {
  color: #fff !important;
  text-decoration: none;
  text-align: center;
  line-height: 43px!important;
  vertical-align: top!important;
}

.float-fb {
  top: 160px;
}

.float-tw {
  top: 215px;
}

.float-gp {
  top: 270px;
}

.float-rs {
  top: 325px;
}

.float-ig {
  top: 380px;
}

.float-pn {
  top: 435px;
}
/* Floating Social Media Bar Style Ends Here */
}
}

// footer ends


.go-top {
	position: fixed;
	z-index: 900;
	right: 10px;
	bottom: 140px;
	display: none;
	width: 50px;
	height: 50px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: $mycolor !important;
	font-size: 40px;
	text-align: center;
	color: #fff !important;
	transition: background 0.3s, color 0.3s;
	-ms-transition: background 0.3s, color 0.3s;
	-moz-transition: background 0.3s, color 0.3s;
	-webkit-transition: background 0.3s, color 0.3s;
}
.go-top i{
	line-height: 57px;
  font-size: 44px;
}
.go-top:hover {
	background: $darkgrey!important;
	color: $mycolor!important;
  border: 1px solid $mycolor;
}
.go-top{
  bottom: 6rem;
}
// about page start
.about-page{
    margin-top: 0px!important;
    @media #{$media-phone} {
     margin-top: 0px!important;
  }
  .parallex-about{
    text-align: center;
    background: url("../../assets/images/banner/01.jpg") no-repeat 0 100%;
   color: #fff;
  width: 100%;
  /* Set a specific height */
  height: 200px;
  opacity: 0.7;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  #about{
    .row{
      margin: 30px 0px!important;
      padding:30px 0px!important;
      @media #{$media-phone} {
        margin:15px 0px!important;
        padding:15px 0px!important;
        text-align: center;
  }
    }
    .about-page-img{
      width: 100%;
      @media #{$media-phone} {
        padding-top: 15px;
  }
    }
    p{
      @media #{$media-phone} {
      text-align: justify;
  }
    }
  }
  #about-middle{
    margin: 0px 0px!important;
    padding:30px 0px!important;
    background-color: $grey;
    @media #{$media-phone} {
   padding:15px 0px!important;
  }
    img{
      fill:$mycolor;
      padding: 5px;
      margin: 15px;
      @media #{$media-phone} {
      padding: 10px;
      margin: 10px;
      width: 100%;
      height: 265px;
  }
    }
    h2{
      font-size: 42px;
      padding-top: 10px;
      text-align: center;
      padding-bottom: 10px;
      @media #{$media-phone} {
        font-size: 32px;
        padding-top: 10px;
  }
    }
    .left h4{
      text-align: right;
      @media #{$media-phone} {
      text-align: center;

  }
    }
    .left p{
      text-align: right;
      @media #{$media-phone} {
   text-align: justify;
  }
    }
    .right h4{
      text-align: left;
    }
    .right p{
      text-align: justify;
    }
  }
}


// about page ends
// gallery page start
.gallery-page{
  padding-top: 0px;
  padding-bottom: 50px;
  margin-top: 0px!important;
  @media #{$media-phone} {
   margin-top: 0px!important;
   padding-bottom: 20px;
  }

  .parallex-gallery{
    text-align: center;
    background: url("../../assets/images/banner/01.jpg") no-repeat 0 100%;
   color: #fff;
  width: 100%;
  /* Set a specific height */
  height: 200px;
  opacity: 0.7;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  }
  h2{
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 42px;
    text-align: center;
    @media #{$media-phone} {
      font-size: 32px;
     padding-top: 20px;

  }
  }
  #gal-row{
    margin-bottom: 30px!important;
  }
  .ih-item.square {
    position: relative;
    width: 100%;
    height: auto;
    border: none!important;
    box-shadow: none!important;

}
  .img img{
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    overflow:auto;
    @media #{$media-phone} {
      width: 100%;
      height: auto;
      margin: 5px;
      padding: 10px;
  }
  }
}

// gallery page ends

// contact page start
.contact-page{
    margin-top: 0px!important;
    @media #{$media-phone} {
    margin-top: 0px!important;
  }

  .parallex-contact{
    text-align: center;
    background: url("../../assets/images/banner/01.jpg") no-repeat 0 100%;
   color: #fff;
  width: 100%;
  /* Set a specific height */
  height: 200px;
  opacity: 0.7;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  #contact{
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    @media #{$media-phone} {
      padding-top: 15px;
      padding-bottom: 15px;
      margin-bottom: 15px;
  }
    h2{
      text-align: center;
      font-size: 42px;
      padding-top: 20px;
      padding-bottom: 30px;
      @media #{$media-phone} {
        font-size: 32px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
  }
    h4{
      @media #{$media-phone} {
        text-align: center;
  }
    }
    }
    #contact-left{
      padding-top: 30px;
      @media #{$media-phone} {
        padding-top: 15px;
  }
      h4, p{
        @media #{$media-phone} {
          text-align: center;
    }
      }
    }
    #contact-right{
      h3{
        padding-bottom: 15px;
        @media #{$media-phone} {
          text-align: center;
    }
      }
      .alert-success{
        display: none;
      }
      .alert-danger{
        display:none;
      }
    }
  }
}

// contact page end
