body {
  padding: 0px !important;
  margin: 0px !important;
  font-family: "Roboto", sans-serif !important; }

.row {
  padding: 0px !important;
  margin: 0px !important; }

.container-fluid {
  padding: 0px !important;
  margin: 0px !important; }

h1 h2 h3 h4 h5 {
  font-family: "Roboto", sans-serif !important; }

p {
  font-family: "Roboto", sans-serif !important; }

.btn-kitchen {
  padding: 8px 20px;
  background-color: #333;
  outline-color: #333;
  border-color: #333;
  border-radius: 0px;
  font-size: 16px; }

.btn-kitchen:hover {
  background-color: #fff;
  border-color: #333;
  color: #333; }

.btn-kitchen:active {
  background-color: #fff !important;
  border-color: #333 !important;
  color: #333 !important; }

.btn-kitchen:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

a {
  text-decoration: none !important;
  color: inherit; }

a:hover {
  color: inherit; }

.sticky {
  position: fixed !important;
  top: 0px !important;
  left: 0% !important;
  z-index: 999 !important;
  margin: auto !important;
  background: #fff;
  /* transform: scale(1); */ }
  @media only screen and (max-width: 480px) {
    .sticky {
      padding: 0px 10px !important; } }

.fixed-top {
  border-top: 4px solid #d2243f; }

#carousel-id {
  margin-top: 0px !important; }
  @media only screen and (max-width: 480px) {
    #carousel-id {
      margin-top: 0px !important; } }

.navbar {
  padding: 0px !important;
  overflow: hidden; }

.navbar .nav-item {
  padding-left: 25px;
  padding-right: 25px;
  border-right: 1px solid #d2243f; }

.navbar .active {
  color: rgba(210, 35, 63, 0.9) !important;
  border-bottom: 5px solid #d2243f; }
  @media only screen and (max-width: 480px) {
    .navbar .active {
      border-bottom: none; } }

.navbar .nav-link:hover {
  color: rgba(210, 35, 63, 0.9) !important; }

.navbar .nav-link {
  padding-top: 18px;
  width: 100px;
  font-size: 19px;
  font-weight: 700; }
  @media only screen and (max-width: 480px) {
    .navbar .nav-link {
      width: 100%; } }

.navbar-brand {
  width: 100%;
  height: auto;
  padding: 5px;
  z-index: 1; }
  @media only screen and (max-width: 480px) {
    .navbar-brand {
      width: auto;
      height: auto;
      padding: 0px;
      -webkit-box-shadow: none;
      box-shadow: none;
      margin-bottom: 0px;
      z-index: 9; } }
  .navbar-brand img {
    float: left; }

@media only screen and (max-width: 480px) {
  .carousel-item img {
    height: 250px; } }

.types {
  margin: 50px 0px;
  padding: 50px 0px;
  overflow: hidden; }
  @media only screen and (max-width: 480px) {
    .types {
      margin: 15px 0px;
      padding: 15px 0px;
      overflow: hidden; } }
  .types .row {
    padding-bottom: 20px !important;
    margin-bottom: 20px !important; }
    .types .row img {
      width: 100%;
      height: auto; }
      @media only screen and (max-width: 480px) {
        .types .row img {
          padding-top: 10px; } }
    .types .row h2 {
      padding-top: 25px;
      font-weight: 500; }
      @media only screen and (max-width: 480px) {
        .types .row h2 {
          padding-top: 10px; } }
    .types .row h4 {
      padding-top: 10px;
      font-weight: 400; }
    .types .row p {
      padding-top: 10px;
      font-size: 14px;
      text-align: justify; }

#happy-clients {
  background: #f8f8f8;
  margin: 50px 0px !important;
  padding: 50px 0px !important;
  overflow: hidden; }
  @media only screen and (max-width: 480px) {
    #happy-clients {
      margin: 15px 0px !important;
      padding: 15px 0px !important; } }
  #happy-clients .box {
    padding: 20px; }
  #happy-clients .img-box .img {
    margin-bottom: 10px;
    margin-left: 30px; }
    @media only screen and (max-width: 480px) {
      #happy-clients .img-box .img {
        text-align: center; } }
  #happy-clients .img-box svg {
    padding-top: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #5b5b5b; }
  #happy-clients .img-box svg:hover {
    fill: #d2243f;
    border: 2px solid #d2243f; }
  #happy-clients h3, #happy-clients p {
    padding-top: 10px;
    font-size: 18px;
    text-align: center;
    line-height: 27px; }

.home-gallery {
  margin: 50px 0px;
  padding: 40px 0px; }
  @media only screen and (max-width: 480px) {
    .home-gallery {
      margin: 15px 0px;
      padding: 10px 0px; } }
  .home-gallery h2 {
    font-size: 32px;
    font-weight: 500;
    text-align: center !important;
    padding-bottom: 15px; }
  .home-gallery .item img {
    width: 100%;
    height: auto; }
  .home-gallery .under-title-2 {
    display: block;
    height: 12px;
    width: 12px;
    background: #d2243f;
    position: relative;
    bottom: 12px;
    left: 50%;
    margin-left: -9px; }
  .home-gallery .under-title-2:before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100px;
    top: 5px;
    left: -111px;
    background: rgba(0, 0, 0, 0.34); }
  .home-gallery .under-title-2:after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100px;
    top: 5px;
    left: 23px;
    background: rgba(0, 0, 0, 0.34); }

#speciality {
  margin: 50px 0px !important;
  padding: 50px 0px !important;
  background-color: #f8f8f8; }
  @media only screen and (max-width: 480px) {
    #speciality {
      margin: 15px 0px !important;
      padding: 15px 0px !important; } }
  #speciality h1 {
    font-size: 36px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px; }
  #speciality h4 {
    font-size: 18px;
    text-align: center; }
    @media only screen and (max-width: 480px) {
      #speciality h4 {
        padding-bottom: 15px;
        margin-top: -15px; } }
  #speciality img {
    text-align: center;
    padding: 50px;
    width: 100%;
    height: auto; }
    @media only screen and (max-width: 480px) {
      #speciality img {
        padding: 0px 10px;
        width: 100%;
        height: 220px; } }

.process {
  margin: 0px 0px;
  padding: 30px 0px;
  overflow: hidden; }
  @media only screen and (max-width: 480px) {
    .process {
      padding: 15px 0px; } }
  .process #pro_p {
    padding: 25px 40px;
    margin-left: 10px;
    margin-right: -8%;
    z-index: 1;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 3px 3px #676767;
    box-shadow: 0px 0px 3px 3px #676767; }
    .process #pro_p h2 {
      font-size: 32px;
      color: #d2243f; }
  .process #pro_i {
    padding: 0px !important; }
    .process #pro_i img {
      height: 100%; }
  .process #pro_s {
    padding: 0px !important;
    height: auto; }
    .process #pro_s img {
      background-color: #d2243f;
      padding-top: 25px;
      margin-left: 4px;
      margin-bottom: 4px;
      height: 150px; }
    .process #pro_s img:hover {
      background-color: #57c2b1; }
  .process p {
    text-align: justify; }
  .process h1 {
    font-size: 36px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px; }
    @media only screen and (max-width: 480px) {
      .process h1 {
        padding-top: 10px;
        padding-bottom: 15px; } }
  .process img {
    width: 100%;
    height: auto; }

.testomonial {
  margin: 50px 0px;
  padding: 50px 0px; }
  @media only screen and (max-width: 480px) {
    .testomonial {
      margin: 15px 0px;
      padding: 15px 0px; } }
  .testomonial h1 {
    font-size: 36px;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 30px; }
    @media only screen and (max-width: 480px) {
      .testomonial h1 {
        padding: 15px 0px;
        font-size: 32px; } }
  .testomonial .card {
    width: 40rem; }
    @media only screen and (max-width: 480px) {
      .testomonial .card {
        width: 20rem; } }
  .testomonial img {
    text-align: center;
    width: 200px !important;
    height: 200px !important;
    border-radius: 50%; }
    @media only screen and (max-width: 480px) {
      .testomonial img {
        width: 150px !important;
        height: 150px !important; } }
  .testomonial .carousel-indicators {
    bottom: -15px; }
    .testomonial .carousel-indicators li {
      border-radius: 10px;
      border: 2px solid #000;
      margin: 1px 3px;
      height: 10px;
      max-width: 10px;
      background-color: #fff !important;
      background-color: transparent;
      word-spacing: 27px; }
    .testomonial .carousel-indicators .active {
      background-color: #d2243f !important;
      border-radius: 50%;
      border: 2px solid #d2243f;
      max-width: 12px;
      margin: 0 3px;
      height: 12px; }
  .testomonial .carousel-item {
    left: 22%; }
    @media only screen and (max-width: 480px) {
      .testomonial .carousel-item {
        left: 0%; } }
  .testomonial .carousel-caption {
    padding-top: 20px; }
  .testomonial h5, .testomonial p {
    color: #000; }
  .testomonial .card {
    text-align: center;
    border: inherit; }
    .testomonial .card .card-img-top {
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; }

.parallex {
  text-align: center;
  background: url("../../assets/images/banner/01.jpg") no-repeat 0 100%;
  color: #fff;
  width: 100%;
  /* Set a specific height */
  height: 100px;
  opacity: 0.7;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .parallex h5 {
    padding-top: 2%;
    padding-left: 15px;
    padding-right: 15px; }

footer {
  padding-top: 50px;
  background-color: #1c1c1c; }
  footer p {
    text-align: center;
    color: #a2a7ad; }
  footer h6 {
    color: #dadbdc;
    text-align: center;
    padding-bottom: 10px; }
    @media only screen and (max-width: 480px) {
      footer h6 {
        color: #dadbdc; } }
  footer #footer {
    padding-bottom: 40px !important; }
  footer #footer-copyright {
    background-color: #111 !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important; }
    footer #footer-copyright .last-foot {
      text-align: center;
      font-size: 16px;
      color: #a2a7ad; }
    footer #footer-copyright p {
      margin-bottom: 0px !important; }
    footer #footer-copyright a {
      width: auto !important; }
  footer .float-sm {
    /* Floating Social Media Bar Style Starts Here */
    /* Floating Social Media Bar Style Ends Here */ }
    footer .float-sm p,
    footer .float-sm span,
    footer .float-sm .twitter {
      font: normal normal 10px Arial;
      text-align: center;
      color: #998578;
      text-transform: uppercase;
      letter-spacing: 3px; }
    footer .float-sm .twitter {
      color: #000000;
      text-decoration: none;
      display: block;
      padding: 14px;
      -webkit-transition: all .25s ease;
      -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
      -o-transition: all .25s ease;
      transition: all .25s ease; }
    footer .float-sm .twitter:hover {
      color: #FF7D6D;
      text-decoration: none; }
    footer .float-sm span {
      font-style: italic;
      display: block; }
    footer .float-sm img {
      max-width: 100%; }
    footer .float-sm .fl-fl {
      background: #000000;
      text-transform: uppercase;
      letter-spacing: 3px;
      padding: 4px;
      width: 190px;
      position: fixed;
      right: -160px;
      z-index: 1000;
      font: normal normal 10px Arial;
      -webkit-transition: all .25s ease;
      -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
      -o-transition: all .25s ease;
      transition: all .25s ease; }
    footer .float-sm .fa {
      font-size: 20px;
      color: #fff;
      padding: 10px 0;
      width: 40px;
      margin-left: 8px; }
    footer .float-sm .fl-fl:hover {
      right: 0; }
    footer .float-sm .fl-fl a {
      color: #fff !important;
      text-decoration: none;
      text-align: center;
      line-height: 43px !important;
      vertical-align: top !important; }
    footer .float-sm .float-fb {
      top: 160px; }
    footer .float-sm .float-tw {
      top: 215px; }
    footer .float-sm .float-gp {
      top: 270px; }
    footer .float-sm .float-rs {
      top: 325px; }
    footer .float-sm .float-ig {
      top: 380px; }
    footer .float-sm .float-pn {
      top: 435px; }

.go-top {
  position: fixed;
  z-index: 900;
  right: 10px;
  bottom: 140px;
  display: none;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #d2243f !important;
  font-size: 40px;
  text-align: center;
  color: #fff !important;
  -o-transition: background 0.3s, color 0.3s;
  transition: background 0.3s, color 0.3s;
  -ms-transition: background 0.3s, color 0.3s;
  -moz-transition: background 0.3s, color 0.3s;
  -webkit-transition: background 0.3s, color 0.3s; }

.go-top i {
  line-height: 57px;
  font-size: 44px; }

.go-top:hover {
  background: #1c1c1c !important;
  color: #d2243f !important;
  border: 1px solid #d2243f; }

.go-top {
  bottom: 6rem; }

.about-page {
  margin-top: 0px !important; }
  @media only screen and (max-width: 480px) {
    .about-page {
      margin-top: 0px !important; } }
  .about-page .parallex-about {
    text-align: center;
    background: url("../../assets/images/banner/01.jpg") no-repeat 0 100%;
    color: #fff;
    width: 100%;
    /* Set a specific height */
    height: 200px;
    opacity: 0.7;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .about-page #about .row {
    margin: 30px 0px !important;
    padding: 30px 0px !important; }
    @media only screen and (max-width: 480px) {
      .about-page #about .row {
        margin: 15px 0px !important;
        padding: 15px 0px !important;
        text-align: center; } }
  .about-page #about .about-page-img {
    width: 100%; }
    @media only screen and (max-width: 480px) {
      .about-page #about .about-page-img {
        padding-top: 15px; } }
  @media only screen and (max-width: 480px) {
    .about-page #about p {
      text-align: justify; } }
  .about-page #about-middle {
    margin: 0px 0px !important;
    padding: 30px 0px !important;
    background-color: #f8f8f8; }
    @media only screen and (max-width: 480px) {
      .about-page #about-middle {
        padding: 15px 0px !important; } }
    .about-page #about-middle img {
      fill: #d2243f;
      padding: 5px;
      margin: 15px; }
      @media only screen and (max-width: 480px) {
        .about-page #about-middle img {
          padding: 10px;
          margin: 10px;
          width: 100%;
          height: 265px; } }
    .about-page #about-middle h2 {
      font-size: 42px;
      padding-top: 10px;
      text-align: center;
      padding-bottom: 10px; }
      @media only screen and (max-width: 480px) {
        .about-page #about-middle h2 {
          font-size: 32px;
          padding-top: 10px; } }
    .about-page #about-middle .left h4 {
      text-align: right; }
      @media only screen and (max-width: 480px) {
        .about-page #about-middle .left h4 {
          text-align: center; } }
    .about-page #about-middle .left p {
      text-align: right; }
      @media only screen and (max-width: 480px) {
        .about-page #about-middle .left p {
          text-align: justify; } }
    .about-page #about-middle .right h4 {
      text-align: left; }
    .about-page #about-middle .right p {
      text-align: justify; }

.gallery-page {
  padding-top: 0px;
  padding-bottom: 50px;
  margin-top: 0px !important; }
  @media only screen and (max-width: 480px) {
    .gallery-page {
      margin-top: 0px !important;
      padding-bottom: 20px; } }
  .gallery-page .parallex-gallery {
    text-align: center;
    background: url("../../assets/images/banner/01.jpg") no-repeat 0 100%;
    color: #fff;
    width: 100%;
    /* Set a specific height */
    height: 200px;
    opacity: 0.7;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .gallery-page h2 {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 42px;
    text-align: center; }
    @media only screen and (max-width: 480px) {
      .gallery-page h2 {
        font-size: 32px;
        padding-top: 20px; } }
  .gallery-page #gal-row {
    margin-bottom: 30px !important; }
  .gallery-page .ih-item.square {
    position: relative;
    width: 100%;
    height: auto;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }
  .gallery-page .img img {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    overflow: auto; }
    @media only screen and (max-width: 480px) {
      .gallery-page .img img {
        width: 100%;
        height: auto;
        margin: 5px;
        padding: 10px; } }

.contact-page {
  margin-top: 0px !important; }
  @media only screen and (max-width: 480px) {
    .contact-page {
      margin-top: 0px !important; } }
  .contact-page .parallex-contact {
    text-align: center;
    background: url("../../assets/images/banner/01.jpg") no-repeat 0 100%;
    color: #fff;
    width: 100%;
    /* Set a specific height */
    height: 200px;
    opacity: 0.7;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .contact-page #contact {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px; }
    @media only screen and (max-width: 480px) {
      .contact-page #contact {
        padding-top: 15px;
        padding-bottom: 15px;
        margin-bottom: 15px; } }
    .contact-page #contact h2 {
      text-align: center;
      font-size: 42px;
      padding-top: 20px;
      padding-bottom: 30px; }
      @media only screen and (max-width: 480px) {
        .contact-page #contact h2 {
          font-size: 32px;
          padding-top: 10px;
          padding-bottom: 10px;
          text-align: center; } }
      @media only screen and (max-width: 480px) {
        .contact-page #contact h2 h4 {
          text-align: center; } }
    .contact-page #contact #contact-left {
      padding-top: 30px; }
      @media only screen and (max-width: 480px) {
        .contact-page #contact #contact-left {
          padding-top: 15px; } }
      @media only screen and (max-width: 480px) {
        .contact-page #contact #contact-left h4, .contact-page #contact #contact-left p {
          text-align: center; } }
    .contact-page #contact #contact-right h3 {
      padding-bottom: 15px; }
      @media only screen and (max-width: 480px) {
        .contact-page #contact #contact-right h3 {
          text-align: center; } }
    .contact-page #contact #contact-right .alert-success {
      display: none; }
    .contact-page #contact #contact-right .alert-danger {
      display: none; }
